:root {
    --primary: #b6895b;
    --background: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: #FFFFFF;
    min-height: 800px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #6f563c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    font-style: italic;
}

.navbar .navbar-logo span{
      color: var(--primary);
}

.navbar .navbar-nav a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(1);
}

.navbar .nav-ex a {
    color: #FFFFFF;
    margin: 0 0.5rem;
}

.navbar .nav-ex a:hover {
      color: var(--primary);
}

#menu {
    display: none;
}

.main-hobi {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 8%;
    margin-bottom: 3%;
    gap: 10px; 
}

.card {
    position: relative;
    width: 200px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border-radius: 5px; 
    transition: transform 0.3s, box-shadow 0.3s;
}

img {
    width: 250%; 
    display: block; 
    margin: 0 auto; 
    border-radius: 3rem;
    object-fit: cover;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
    transform: scale(1.1);
}

.container {
    padding: 16px; 
}

.container p {
    margin: 8px 0; 
    padding: 0; 
    max-width: 200px; 
}

@media screen and (max-width: 600px) {
    .main-hobi {
        margin-top: 20%;
        text-align: center;
    }
}