:root {
    --primary: #b6895b;
    --background: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: #FFFFFF;
    min-height: 800px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #6f563c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    font-style: italic;
}

.navbar .navbar-logo span{
      color: var(--primary);
}

.navbar .navbar-nav a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(1);
}

.navbar .nav-ex a {
    color: #FFFFFF;
    margin: 0 0.5rem;
}

.navbar .nav-ex a:hover {
      color: var(--primary);
}

#menu {
    display: none;
}
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/gambar2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.judul {
    background-color: #000000;
    padding: 0 10px;
    position: absolute;
    top: -10px;
    left: 10px;
}

table {
    padding: 0rem;
    text-align: center;
    max-width: none;
    max-height: min-content;
}

table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  table tr, table td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
  
.judul textarea {
    width: 100%;
    height: 100px; 
    box-sizing: border-box; 
}

td.tombol {
    text-align: center;
    padding-top: 20px; 
}